{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["warn"],
    "no-prototype-builtins": "off",
    "react/prop-types": "warn",
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }]
  },
  "parser": "babel-eslint"
}
