/*@import url('https://rsms.me/inter/inter.css');*/

.book-list-outer {
  position: relative;
  min-height: 376px;
}

.book-list-outer input, .book-list-outer input:focus {
  border: 1px solid #eee;
  border-bottom: 2px solid #2196f3;
  border-radius: 0;
  background-color: #f8f8f8;
  margin-bottom: 3px;
}

.book-list {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: opacity 300ms ease-in-out;
}

.book-list-item {
  border-bottom: 1px solid #eee;
  display: flex;
  height: 70px;
  /*line-height: 70px;*/
}

.book-list-item small {
  color: #797979;
}

.book-list-item img {
  height: 100%;
}

.book-list-item > .image {
  flex-grow: 0;
  width: 60px;
}

.book-list-item > .text {
  padding: 10px 10px;
  flex-grow: 1;
}

.paginator {
  display: flex;
  padding: 15px;
}

.paginator > .center {
  flex-grow: 1;
}

.example-separator {
  max-width: 400px;
  margin: 50px auto;
}

.layout-container {
  margin: 20px auto;
  max-width: 1000px;
  background-color: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  padding: 15px 25px;
}

.tab-control {
  display: flex;
  margin-bottom: 15px;
}

.tab-control-item {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  border-bottom: 2px solid #eee;
  transition: border-bottom-color 400ms ease-in-out;
  cursor: pointer;
  padding-bottom: 12px;
}

.tab-control-item.active {
  border-bottom: 2px solid #2196f3;
}

.title-main {
  text-align: center;
}

.description-main {
  color: #7b7b7b;
  text-align: center;
}

html,
body {
  background-color: #f8f8f8;
}

/*html {*/
/*font-family: 'Inter', sans-serif;*/
/*}*/
/*@supports (font-variation-settings: normal) {*/
/*html {*/
/*font-family: 'Inter var', sans-serif;*/
/*}*/
/*}*/
